<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
<h:outputStylesheet library="css" name="style.css"  target="body" /> 

<style type="text/css">
#{scheduleView.styles}
</style>
<h:outputScript library="js" name="pt.js"  target="body" />
	<div id="cabecalho">
		<h:graphicImage library="img" name="logo.png" />
		<h:outputScript library="js" name="pt.js" />
		<h:outputScript library="js" name="datas.js" />
		<h:form>
            <p:themeSwitcher id="basic" style="width:165px">
                <f:selectItem itemLabel="Choose Theme" itemValue="" />
        <f:selectItem itemLabel="Aristo" itemValue="aristo" />
        <f:selectItem itemLabel="Vader" itemValue="nova-light" />
    
            </p:themeSwitcher>
        </h:form>
		<p:growl id="messages" showDetail="true" autoUpdate="true" />
		
		<h:form rendered="#{usuarioLogado != null}">


			<p:menuButton value="Menu">
				<p:menuitem value="Livros" action="livro?faces-redirect=true"
					icon="fa fa-fw fa-book" />
				<p:menuitem value="Autores" action="autor?faces-redirect=true"
					icon="fa fa-fw fa-user" />
					<p:menuitem value="Vendas" action="vendas?faces-redirect=true" icon="fa fa-fw fa-bar-chart" />
				<p:separator />
				<p:menuitem value="Logout" action="#{loginBean.deslogar}"
					icon="fa fa-fw fa-sign-out" />
			</p:menuButton>
		</h:form>


		<h1>
			<ui:insert name="titulo"></ui:insert>
		</h1>
	</div>

	<div id="conteudo">
		<ui:insert name="conteudo">
		</ui:insert>
	</div>
</h:body>

</html>