<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="_template.xhtml">

	<ui:define name="titulo">
		<p:outputPanel>Frequencia</p:outputPanel>
	</ui:define>

	<style type="text/css">
#{
scheduleView
.styles
}
</style>
	<p:messages globalOnly="true" />
	<ui:define name="conteudo">
		<h:form style="width: 800px;align:center;margin-left:100px"
			prependId="false">
			<p:growl id="messages22" showDetail="true" />

			<h:panelGrid columnClasses="value">
				<h3 style="margin-top: 0">Editable Schedule</h3>
				<p:schedule id="schedule" value="#{scheduleView.eventModel}"
					widgetVar="myschedule" timeZone="GMT+2" locale="pt"
					styleClass="#{scheduleView.styles}">
					<script>
						addClassByDate("2019-04-14")
					</script>
					<!-- styleClass="#{(scheduleView.falta) ? 'fc-day-falta' : 'fc-day'}">  -->
					<p:ajax event="dateSelect" listener="#{scheduleView.onDateSelect}"
						update="eventDetails" oncomplete="PF('eventDialog').show();" />
					<p:ajax event="eventSelect"
						listener="#{scheduleView.onEventSelect}" update="eventDetails"
						oncomplete="PF('eventDialog').show();" />
					<p:ajax event="eventMove" listener="#{scheduleView.onEventMove}"
						update="messages22" />
					<p:ajax event="eventResize"
						listener="#{scheduleView.onEventResize}" update="messages22" />

				</p:schedule>

				<h:outputText value="#{scheduleView.styles}" />




			</h:panelGrid>
			<p:dialog widgetVar="eventDialog" header="Event Details"
				showEffect="clip" hideEffect="clip">
				<h:panelGrid id="eventDetails" columns="5">
					<p:outputLabel for="title" value="Titles:" />
					<p:inputText id="title" value="#{scheduleView.event.title}"
						required="true" />

					<p:outputLabel for="from" value="From:" />
					<p:calendar id="from" value="#{scheduleView.event.startDate}"
						timeZone="GMT+2" pattern="dd/MM/yyyy HH:mm" />

					<p:outputLabel for="to" value="To:" />
					<p:calendar id="to" value="#{scheduleView.event.endDate}"
						timeZone="GMT+2" pattern="dd/MM/yyyy HH:mm" />

					<p:outputLabel for="allDay" value="All Day:" />
					<h:selectBooleanCheckbox id="allDay"
						value="#{scheduleView.event.allDay}" />
					<p:outputLabel for="falta" value="Falta:" />
					<h:selectBooleanCheckbox id="falta" value="#{scheduleView.falta}" />

					<p:commandButton type="reset" value="Reset" />
					<p:commandButton id="addButton" value="Save"
						action="#{scheduleView.addEvent}"
						oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
				</h:panelGrid>
			</p:dialog>

			<p id="p2">TESTE</p>
		</h:form>
	</ui:define>
</ui:composition>
</html>




