<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="_template.xhtml">

	<f:metadata>
		<f:viewParam name="livroId" value="#{livroBean.livroId}" />
		<f:viewAction action="#{livroBean.carregarLivroPelaId}"
			if="#{param.livroId != null}" />
	</f:metadata>

	<ui:define name="titulo">
				Novo Livro
		</ui:define>

	<ui:define name="conteudo">
		<h:form>

			<p:messages id="messages" />

			<p:fieldset legend="Dados do Livro">
				<p:panelGrid columns="2">

					<p:outputLabel value="Titulo:" for="titulo" />
					<p:inputText id="titulo" value="#{livroBean.livro.titulo}"
						required="true" requiredMessage="Título obrigatório"
						validatorMessage="Título não pode ser superior a 40">
						<f:validateLength maximum="40" />
						<f:ajax event="blur" render="messages" />
					</p:inputText>

					<p:outputLabel value="ISBN:" for="isbn" />
					<p:inputMask id="isbn" value="#{livroBean.livro.isbn}"
						validator="#{livroBean.comecaComDigitoUm}"
						mask="999-9-99-999999-9" />

					<p:outputLabel value="Preço:" for="preco" />
					<p:inputNumber id="preco" value="#{livroBean.livro.preco}"
						symbol=" R$ " symbolPosition="p" decimalSeparator=","
						thousandSeparator="." />

					<p:outputLabel value="Data de Lançamento:" for="dataLancamento" />
					<p:calendar id="dataLancamento"
						value="#{livroBean.livro.dataLancamento.time}"
						pattern="dd/MM/yyyy" timeZone="America/Sao_Paulo" mask="true" />


				</p:panelGrid>

			</p:fieldset>

			<p:fieldset legend="Dados do Autor">

				<p:panelGrid columns="4">
					<p:outputLabel value="Selecione Autor:" for="autor" />
					<p:selectOneMenu value="#{livroBean.autorId}" id="autor">
						<f:selectItems value="#{livroBean.autores}" var="autor"
							itemLabel="#{autor.nome}" itemValue="#{autor.id}" />
					</p:selectOneMenu>
					<p:commandButton value="Gravar Autor"
						action="#{livroBean.gravarAutor}" process="@this autor"
						update="tabelaAutores" />



					<p:commandLink value="Cadastrar novo autor"
						action="#{livroBean.formAutor}" immediate="true" update="@all" />

				</p:panelGrid>
				<p:dataList value="#{livroBean.autoresDoLivro}" var="autor"
					type="definition" id="tabelaAutores"
					emptyMessage="Nenhum autor cadastrado">
					<f:facet name="header">
                        Autores
                    </f:facet>
					<p:commandButton icon="fa fa-fw fa-remove"
						action="#{livroBean.removerAutorDoLivro(autor)}"
						update="tabelaAutores" process="@this" />
					
					 #{autor.nome} - #{autor.email}
				</p:dataList>
			</p:fieldset>
			<p:commandButton value="Gravar" action="#{livroBean.gravar}"
				process="@form" update="@form :formTabelaLivros:tabelaLivros" />

		</h:form>

		<h:form id="formTabelaLivros">
			<p:dataTable value="#{livroBean.livros}" var="livro"
				id="tabelaLivros" paginator="true" rows="5">
				<f:facet name="header">Livros</f:facet>
				<p:column headerText="Título" sortBy="#{livro.titulo}"
					filterBy="#{livro.titulo}" filterMatchMode="startsWith">
					<h:outputText value="#{livro.titulo}" />
				</p:column>
				<p:column headerText="ISBN" sortBy="#{livro.isbn}"
					filterBy="#{livro.isbn}" filterMatchMode="contains">
					<h:outputText value="#{livro.isbn}" />
				</p:column>
				<p:column headerText="Preço" sortBy="#{livro.preco}" filterBy="#{livro.preco}" filterFunction="#{livroBean.precoEhMenor}">
					<h:outputText value="#{livro.preco}">
						<f:convertNumber type="currency" pattern="R$ #0.00"
							currencySymbol="R$" locale="pt_BR" />
					</h:outputText>
				</p:column>
				<p:column headerText="Data" sortBy="#{livro.dataLancamento.time}"
					filterBy="#{livro.dataLancamento.time}" filterMatchMode="contains">
					<h:outputText value="#{livro.dataLancamento.time}">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Sao_Paulo" />
					</h:outputText>
				</p:column>
				<p:column headerText="Alterar">
					<h:commandLink value="Alterar"
						action="#{livroBean.carregar(livro)}" />
				</p:column>
				<p:column headerText="Remover">
					<h:commandLink value="Remover" action="#{livroBean.remover(livro)}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>

</html>