
 --teste: '2019-04-14';

.emp1 .fc-event-skin {
	background: red !important;
}

.fc-event-skin-green {
	background: green !important;
}

.fc-day-skin-blue{
	background-color: #e0f3ba !important; 
	border: 1px solid #c8c8c8;
	color: #333;
	box-shadow: 0 0 black;
}

.fc-day-teste .fc-day {
	background-color: #ff8000!important;
	border: 1px solid #c8c8c8;
	color: #400040;
	box-shadow: 0 0 black;
}

.fc-day-falta{
	background-color: #0000FF !important;
}

.fc-day{
	background-color: #e0f3ba !important;
}

.fc-other-month{
	background-color: #fef4d3!important; 
}

.fc-day.ui-widget-content-red{
 	background-color: #ff5252 !important;
 } 
 
/*  .fc-day[data-date='2019-04-14']{
 	background-color: #ff5252 !important;
 } */
 
/*  .fc-day-grid-event{
 background-color: #ff5252 !important;
 } */

.ui-widget-content-falta {
	background-color: #ff5252;
	border: 1px solid #c8c8c8;
	color: #333;
	box-shadow: 0 0 black;
}



.ui-diagram-element {   
        width:14em; 
        height:4em;     
        line-height:4em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        border: 1px solid transparent;
        background-color: #98AFC7;
        color: #ffffff;
    }

.ui-diagram-success {
	background-color: #ff00f9;
	color: #ffffff;
	border-color: #7ab02c;
}

.ui-diagram-fail {
	background-color: #C34A2C;
	color: #ffffff;
}

/* .teste .fc ui-widget-content fc-thu fc-other-month fc-future{
	background-color: #FFF;
} */